@model CreateReceitaViewModel

@{
    ViewData["Title"] = "Nova Receita";
}

<div class="container-fluid" style="padding: 0px">

<div class="banner"></div>

<div class="row" style="padding-left:15px; padding-right: 15px; padding-top:15px;">
    <h3>Nova Receita</h3>
</div>

<div class="row mb-2" style="padding:15px">

<hr />
<form asp-action="Create" enctype="multipart/form-data">
<div class="row">
    
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input type="file" asp-for="Foto" class="form-control" onchange="ReadURL(this)"/>
                <span asp-validation-for="Foto" class="text-danger" ></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="text-align:center;">
                <img id="blah" src="#" style="max-height:185px; text-align:center;"/>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <textarea asp-for="Ingredientes" class="form-control" ></textarea>
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoDePreparo" class="control-label"></label>
                <textarea asp-for="ModoDePreparo" class="form-control" ></textarea>
                <span asp-validation-for="ModoDePreparo" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
            </div>
    </div>
    </div>
    </form>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    


    <script>
        
        $("#blah").hide();
        
        function ReadURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var extPermitidas = ['jpg', 'JPG', 'png', 'PNG', 'jpeg', 'JPEG'];
            var extArquivo = input.value.split('.').pop();
            reader.onload = function (e) {
                if (typeof extPermitidas.find(function (ext) { return extArquivo == ext; }) == 'undefined') {
                    $("#blah").hide();
                    alert("A imagem deve estar em png ou jpg!");

                  
                    //Reference the FileUpload and get its Id and Name.
                    var fileUpload = $("#Foto");
                    var id = fileUpload.attr("id");
                    var name = fileUpload.attr("name");
                    //Create a new FileUpload element.
                    var newFileUpload = $("<input type = 'file' class='form form-control'/>");
                    //Append it next to the original FileUpload.
                    fileUpload.after(newFileUpload);
                    //Remove the original FileUpload.
                    fileUpload.remove();
                    //Set the Id and Name to the new FileUpload.
                    newFileUpload.attr("id", id);
                    newFileUpload.attr("name", name);
                    return false;
                

                } else {
                    $("#blah").show();
                    $("#blah").attr('src', e.target.result);
                    
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    }</script>
}
