@model Receita

@{
    ViewData["Title"] = "Edit";
}

<h1>Alterar Receita</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" class="form-control" />

            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" readonly/>
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <textarea asp-for="Ingredientes" class="form-control" ></textarea>
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoDePreparo" class="control-label"></label>
                <textarea asp-for="ModoDePreparo" class="form-control" ></textarea>
                <span asp-validation-for="ModoDePreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                <a asp-action="Delete" class="btn btn-danger">Excluir</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
