.banner {
    background-image: url(../img/fullbanner-receitas.png);
    background-size:cover;
    height: 400px;
    width:100%;
    padding:0px;
}

.foto {
    max-width: 132px;
    float: left;
}

.foto img {
    max-width: 100%;
}

article {
    min-height: 132px;
}

article a {
    text-decoration: none;
    color: black;
}

.title h4 {
    margin-left: 150px;
}


body {
    margin-bottom: 60px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.nopadding{
padding:0px;
}